#logo_container {
	width: 150px;
}

img {
	width: 100%;
}

header {
	display: flex;
	justify-content: end;
	align-items: center;
}

.header_block {
	width: 33%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#icon-container {
	width: 30px;
}
