
#logo_container {
	width: 150px;
}

img {
	height: 100%;
	width: 100%;
}

header {
	display: flex;
	justify-content: end;
	align-items: center;
	padding: 20px 0;
}

.header_block {
	width: 33%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#icon-container {
	width: 30px;
}

#header_separator {
	border-left: 2px solid #ededed;
	height: 25px;
	margin: 10px;
}

#login_button {
	border: none;
	background-color: white;
	font-weight: bold;
}

#subscribe_button {
	background-color: #ede619;
	border: none;
	border-radius: 5px;
	padding: 10px 15px;
	font-weight: bold;
}

nav {
	max-width: 1400px;
	margin: auto;
}

ul {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding: 0;
}

li {
	display: flex;
	justify-content: center;
	padding: 10px;
	font-size: 20px;
	text-transform: uppercase;
	font-family: Roboto;
}

.chevron_container {
	height: 20px;
	width: 20px;
}

.navbar_icon_container {
	height: 30px;
	width: 30px;
}

main{
	background-color: gray;
}
#div_container{
	background-color: white;
	max-width: 1400px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;

}
.div_child{
	width: 25%;
	padding: 100px;
	margin: 0px;
}
.logo_jaune{
	width: 3%;
}
.toto{
	width: 300px;
	height: 300px;
}
